body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.home {
  margin-bottom: 100px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: rgb(184, 82, 82);
  margin-left: 0.25rem;
}

.extraline {
  padding-top: 15px;
}

.instructions {
  font-size: 13px;
  font-weight: bold;
  border-radius: 0.5rem;
  /* background: #000; */
  color: rgba(43, 44, 54, 0.931);
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.line {
  display: flex-box;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.center {
  height: 100%;
  display: flex;
  position: relative;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.or {
  border: 3px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
  z-index: 2;
}

.orline {
  width: 70%;
  border: 1px solid lightgray;
  background-color: grey;
  position: absolute;
}

.btn-google {
  color:grey;
  width: 290px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  border-color:lightgrey;
  margin-bottom: 12px;
  margin-left: 30px;
  font-size: 15px;
  font-weight: bold;
  font-style: inherit;
}

.btn-facebook {
  color: grey;
  width: 290px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  border-color:lightgrey;
  margin-bottom: 12px;
  margin-left: 30px;
  font-size: 15px;
  font-weight: bold;
  font-style: inherit;
}

.btn-github {
  color: grey;
  width: 290px;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #fff;
  border-color:lightgrey;
  margin-bottom: 12px;
  margin-left: 30px;
  font-weight: bold;
  font-style: inherit;
}
