
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.home {
  margin-bottom: 100px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: rgb(184, 82, 82);
  margin-left: 0.25rem;
}

.extraline {
  padding-top: 15px;
}

.instructions {
  font-size: 13px;
  font-weight: bold;
  border-radius: 0.5rem;
  /* background: #000; */
  color: rgba(43, 44, 54, 0.931);
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.line {
  display: inline-block;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
