* {
    max-width: fit-content;
    width: 200px;
    background-color: black;
}


h1 {
    color: blanchedalmond;
    justify-content: center;
    font-size: medium;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}